.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;

}
body{
    background-size: cover;
}
.div_speed{
    float: left;

}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.play_button{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 30px;
    border: 2px solid white;
}
canvas{
    border: 5px dashed black;
    border-radius: 20px;
    margin-top: 100px;
}
span{
    font-size: 40px;
}
h4{
    background-color: aqua;
}